* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: 'Press Start 2P', cursive;
  color: #7D928B;
  background-color: #93B7A9;
}

#main-content {
  display: grid;
  width: 33%;
  font-size: 18px;
  background-color: #C1CDC5;
  margin: 15em auto 20em auto;
  padding: 25px 50px 10px 50px;
  border-radius: 10px;
}

h1 {
  color: #5d6d68;
  font-size: 15px;
  margin: 0 auto 10px auto;
}

h6 {
  display: inline;
  font-size: 10px;
  margin: 0 auto 5px auto;
}

#inputs-container {
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
}

#player-input, #page-button {
  background-color: #93B7A9;
  padding: 5px;
  color: #5d6d68;
  font-size: 13px;
  font-family: 'Press Start 2P', cursive;
}
#player-input:focus {
  outline: none;
  border-color: #5d6d68;
}

p {
  font-size: 12px;
  margin: auto;
}

#games-tracker {
  margin: 10px auto 0 auto;
  padding: 0 0 0px 0;
}
#games-tracker h6{
  margin: 0 auto 0 -5px;
  font-size: 10px;
}

#resetter, #toggle {
  margin: 5px auto 0 auto;
  font-size: 10px;
  color: #7D928B;
}
#resetter:visited, #toggle:visited {
  color: #7D928B;
}
#resetter:hover, #toggle:hover {
  color: #505E59;
}

#game-log{
  display: none; /** grid: toggled off by default **/
  padding: 5px 0 15px 0;
}
.log-entries{
  color: #8ba098;
  font-size: 10px;
  margin: 3px auto;
}

#arrow-show {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #a7b1aa;
  margin: 10px auto;
}
#arrow-hide {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #a7b1aa;
  margin: 10px auto;
}
#arrow-show:hover{
  border-top: 10px solid #929b95;
}
#arrow-hide:hover {
  border-bottom: 10px solid #929b95;
}