body {
    display: grid;
    font-family: monospace;
    color: #7D928B;
    background-color: #93B7A9;
  }
  
  h1 {
    color: #5d6d68;
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  h6 {
      display: inline;
      font-size: 15px;
      margin: 0 auto 5px auto;
  }

  #main-content {
    display: grid;
    font-size: 18px;
    background-color: #C1CDC5;
    margin: 15em auto 20em auto;
    padding: 25px 50px 35px 50px;
    border-radius: 10px;
  }
  
  #inputs {
    padding: 10px 10px 10px 10px;
    margin: auto;
  }

  #playerInput {
      background-color: #93B7A9;
  }

  #submitter {
      background-color: #93B7A9;
  }

  p {
      margin: auto;
  }